// Import all of Bootstrap's CSS
//@import "bootstrap/scss/bootstrap"; remove this and added css cdn link to index.html


.montserrat{ font-family: 'Montserrat', sans-serif; }
.oxygen { font-family: 'Oxygen', sans-serif; }
.poppins { font-family: 'Poppins', sans-serif; }
.prompt { font-family: 'Prompt', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }


